*{
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: darkgray;
        display: flex;
        padding: 0 10px 0 10px;
        padding-bottom: 50px;
}
.left_column{
    display: inline-block;
    position: absolute;
    width: 25%;
    padding: 0 10px 0 10px;
    background-color:#C8FC98 ;
}
.content_column{
    display: inline-block;
    position: relative;
    margin: 0 210px 0 25.5%;
}
.container{
    position: relative;
}
.footer{
    text-align: center;
    justify-content: center;
    background-color: black;
    clear: both;
}
.footer a{
    color: #FDE95E;
}
.right_column{
    float:right;
    width: 200px;
    padding: 0 10px 0 10px;
    background-color:#FDE95E ;
    margin-top: -126px;
}